ChatProgram/.idea/workspace.xml
Fileserver/.idea/workspace.xml
HelloServer/.idea/workspace.xml
Fileserver/out/artifacts/FileServer/test.avi
Fileserver/out/artifacts/FileServer/test.mp3
Fileserver/out/artifacts/FileClient/AlbumArtSmall.jpg
Fileserver/out/artifacts/FileClient/Folder.jpg
Fileserver/out/artifacts/FileClient/AlbumArt_{14D01E1F-D0FA-4745-8D31-FE3A75827BDC}_Large.jpg
Fileserver/out/artifacts/FileClient/AlbumArt_{14D01E1F-D0FA-4745-8D31-FE3A75827BDC}_Small.jpg